*
!models
!utils
!data.ml
!generate.ml
!ocaml.sh
!shell.nix
!model.sh
!.ocp-indent
!.gitignore
!README.md
!stan.sh
!bernoulli.*
!coin
!coin.*
!coin_data.*
models/coin/coin
models/coin/coin.data.R
!german_tanks
!german_tanks.*
!german_tanks_data.*
models/german_tanks/german_tanks
models/german_tanks/german_tanks.data.R
!mark_and_recapture
!mark_and_recapture.*
!mark_and_recapture_data.*
models/mark_and_recapture/mark_and_recapture
models/mark_and_recapture/mark_and_recapture.data.R
*.hpp
*.csv
*.d
*.cmi
*.cmx
*.o
